.top_nav_bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	display: inline;
	background-color: #ddd;
}


li a {
	display: block;
	padding: 8px;
	background-color: #eee;
}
	
#main {

}
